 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
img {
  display: block;
  max-width: 100%;
}
.proj-link {
  margin-left: 14%;
}
.stack {
  width: 85%;
  max-width: 400px;
  transition: 0.25s ease;
}
.stack:hover {
  transform: rotate(5deg);
}
.stack:hover .card:before {
  transform: translatey(-2%) rotate(-4deg);
}
.stack:hover .card:after {
  transform: translatey(2%) rotate(4deg);
}

.cardsam {
  aspect-ratio: 3/2;
  border: 2px solid;
  background-color: #FFF;
  position: relative;
  transition: 0.15s ease;
  cursor: pointer;
  padding: 5% 5% 15% 5%;
}
.cardsam:before, .cardsam:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid;
  background-color: #FFF;
  transform-origin: center center;
  z-index: -1;
  transition: 0.15s ease;
  top: 0;
  left: 0;
}
.cardsam:before {
  transform: translatey(-2%) rotate(-6deg);
}
.cardsam:after {
  transform: translatey(2%) rotate(6deg);
}

.image {
  width: 100%;
  border: 2px solid;
  background-color: #EEE;
  aspect-ratio: 1/1;
  position: relative;
}

.browser-warning {
  margin-bottom: 4rem;
}

@supports (aspect-ratio: 1/1) {
  .browser-warning {
    display: none;
  }
}
@media (max-width : 767px) {
  img {
    display: block;
    max-width: 100%;
  }
  
  .stack {
    width: 85%;
    max-width: 200px;
    transition: 0.25s ease;
  }
  .stack:hover {
    transform: rotate(5deg);
  }
  .stack:hover .card:before {
    transform: translatey(-2%) rotate(-4deg);
  }
  .stack:hover .card:after {
    transform: translatey(2%) rotate(4deg);
  }
  
  .cardsam {
    aspect-ratio: 3/2;
    border: 2px solid;
    background-color: #FFF;
    position: relative;
    transition: 0.15s ease;
    cursor: pointer;
    padding: 5% 5% 15% 5%;
  }
  .cardsam:before, .cardsam:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid;
    background-color: #FFF;
    transform-origin: center center;
    z-index: -1;
    transition: 0.15s ease;
    top: 0;
    left: 0;
  }
  .cardsam:before {
    transform: translatey(-2%) rotate(-6deg);
  }
  .cardsam:after {
    transform: translatey(2%) rotate(6deg);
  }
  
  .image {
    width: 100%;
    border: 2px solid;
    background-color: #EEE;
    aspect-ratio: 1/1;
    position: relative;
  }
  
  .browser-warning {
    margin-bottom: 4rem;
  }
  .proj-link {
    margin-left: 24%;
    height: 16%;
  }
}